{% extends "_base.html" %}

{% block page_title %}
    حذف کتاب
{% endblock page_title %}

{% block content %}
    <form action="" method='post'>
        {% csrf_token %}
        {{ form.as_P }}
        <h1>حذف کتاب {{ book.title|capfirst }}</h1>
        <p>آیا از حذف کتاب "{{ book.title|capfirst }}" مطمئن هستید؟</p>
        <input type="submit" class='btn btn-danger' value='بله مطمئنم'>      
    </form>
    <br>
    <br>
    <a href="{% url 'book_list' %}">لیست کتاب ها</a>
{% endblock content %}

